.retailcrm-meta-select {
    margin-right: 25px !important;
    float:left !important;
    width: 200px !important;
    text-align-last: center;
    border: 2px solid #2271b1;
}

.retailcrm-select-pair {
    margin-bottom: 30px;
}

.retailcrm-order-label, .retailcrm-customer-label {
    display: block;
    font-size: 14px !important;
    margin-top: 16px;
    margin-bottom: 10px;
}

.add-new-select-retailcrm {
    display:block;
    width: 200px !important;
    height: 34px;
    color: #4169e1;
    border-color: #4169e1;
    background: #f6f7f7;
    vertical-align: top;
    margin-top: 16px;
    margin-left: 128px;
    margin-bottom: 10px;
}

.delete-select-retailcrm {
    display: block;
    width: 34px;
    height: 34px;
    --weight: 0.5px;
    --aa: 0.5px; /* anti-aliasing */
    --color: #4169e1;
    border-color: #4169e1;
    background: #f6f7f7;
    padding: 0;
    background:
            linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
            linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}


.red-selected-retailcrm {
    border: solid 3px red !important;
    animation: 2s blinker linear infinite;
    #transition: border-width 0.6s linear;
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}