name: woo

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
  pull_request:

env:
  DB_HOST: 127.0.0.1
  DB_USER: root
  DB_PASS: root
  DB_NAME: wc_retailcrm_test

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # WordPress 5.3

          - php-version: '7.0'
            wp: '5.3'
            phpunit-version: 'phpunit:6.4.3'
            wc: '5.4.3'
            coverage: 1
          - php-version: '7.1'
            wp: '5.3'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.3'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.3'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.3'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.3'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.3'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.3'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.3'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.3'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.3'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.3'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.3'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.3'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.3'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.3'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.3'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.3'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.3'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.3'
            wc: '5.8.0'

          ## WordPress 5.4

          - php-version: '7.0'
            wp: '5.4'
            wc: '5.4.3'
          - php-version: '7.1'
            wp: '5.4'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.4'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.4'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.4'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.4'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.4'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.4'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.4'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.4'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.4'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.4'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.4'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.4'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.4'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.4'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.4'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.4'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.4'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.4'
            wc: '5.8.0'

          ## WordPress 5.5

          - php-version: '7.0'
            wp: '5.5'
            wc: '5.4.3'
          - php-version: '7.1'
            wp: '5.5'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.5'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.5'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.5'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.5'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.5'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.5'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.5'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.5'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.5'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.5'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.5'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.5'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.5'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.5'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.5'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.5'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.5'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.5'
            wc: '5.8.0'

          ## WordPress 5.6

          - php-version: '7.0'
            wp: '5.6'
            wc: '5.4.3'
          - php-version: '7.1'
            wp: '5.6'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.6'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.6'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.6'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.6'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.6'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.6'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.6'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.6'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.6'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.6'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.6'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.6'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.6'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.6'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.6'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.6'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.6'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.6'
            wc: '5.8.0'

          ## WordPress 5.7

          - php-version: '7.0'
            wp: '5.7'
            wc: '5.4.3'
          - php-version: '7.1'
            wp: '5.7'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.7'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.7'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.7'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.7'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.7'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.7'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.7'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.7'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.7'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.7'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.7'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.7'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.7'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.7'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.7'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.7'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.7'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.7'
            wc: '5.8.0'

          ## WordPress 5.8

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.4.3'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.4.3'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.4.3'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.4.3'

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.5.3'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.5.3'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.5.3'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.5.3'

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.6.1'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.6.1'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.6.1'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.6.1'

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.7.1'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.7.1'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.7.1'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.7.1'

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.8.0'

          ## WordPress 5.8 and last WooCommerce  NEED DELETE , TEST WC 5.9.0 !!!

          - php-version: '7.0'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.1'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.2'
            wp: '5.8'
            wc: '5.8.0'
          - php-version: '7.3'
            wp: '5.8'
            wc: '5.8.0'

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: ${{ env.DB_PASS }}
          MYSQL_DATABASE: ${{ env.DB_NAME }}
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer, phpunit:6.4.3
          extensions: gd, mbstring, mysqli, zip, unzip, mcrypt, mysql, pdo_mysql, dom
          coverage: xdebug

      - name: Tool versions
        run: |
          php --version
          composer --version
          phpunit --version

      - name: Install Woocommerce
        env:
          WP_VERSION: ${{ matrix.wp }}
          WC_VERSION: ${{ matrix.wc }}
        run: make install

      - name: Run tests
        env:
          WP_VERSION: ${{ matrix.wp }}
          WC_VERSION: ${{ matrix.wc }}
        run: make test

      - name: Coverage
        env:
          COVERAGE: ${{ matrix.coverage }}
        if: env.COVERAGE == 1
        run: |
          make coverage
          bash <(curl -s https://codecov.io/bash)
  deploy:
    needs: ['test']
    if: success() && github.event_name == 'push' && github.repository_owner == 'retailcrm' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP 7.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'
          tools: composer:v2
      - name: Build release
        run: |
          git fetch origin --unshallow --tags
          export LAST_TAG=`git describe --abbrev=0 --tags`
          export VERSION=`cat VERSION`
          export ARCHIVE_NAME=retailcrm-$VERSION.ocmod.zip
          export ARCHIVE_PATH="/tmp/$ARCHIVE_NAME"
          export RELEASE_TAG=v$VERSION
          export LAST_COMMIT=`git log --oneline --format=%B -n 1 HEAD | head -n 1`
          echo RELEASE_TAG=$RELEASE_TAG >> $GITHUB_ENV
          echo LAST_TAG=$LAST_TAG >> $GITHUB_ENV
          echo LAST_COMMIT=$LAST_COMMIT >> $GITHUB_ENV
          echo ARCHIVE_PATH=$ARCHIVE_PATH >> $GITHUB_ENV
          echo ARCHIVE_NAME=$ARCHIVE_NAME >> $GITHUB_ENV
          make build_archive
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        if: env.LAST_TAG != env.RELEASE_TAG
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          release_name: ${{ env.RELEASE_TAG }}
          body: ${{ env.LAST_COMMIT }}
          draft: false
          prerelease: false
      - name: Deploy
        env:
          SVNREPOURL: ${{ secrets.SVNREPOURL }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          make svn_clone
          make svn_push
      - name: Cleanup
        if: env.LAST_TAG != env.RELEASE_TAG
        run: make remove_dir